<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}

  <!--use MathJax to render formulas-->
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <!--Custom styling-->
  <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">

  <!--JavaScript for iframe handling-->
  <script src="{{ "/assets/make-iframes-work.js" | relative_url }}"></script>

  <!--Class icon-->
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | relative_url }}">

  <!--BYU fonts-->
  <link rel="stylesheet" href="https://cdn.byu.edu/theme-fonts/1.x.x/public-sans/fonts.css" media="all">
</head>